{% extends 'base.twig' %}

{% block body %}
    <div>
        {% if nameError %}<span class="alert alert-danger">* {{ nameError }}</span>{% endif %}
        {% if nameSuccess %}<span class="alert alert-success">* {{ nameSuccess }}</span>{% endif %}
    </div>
    <table class="table">
        <form name="register" method="post">
            <tr>
                <td>Email: *</td>
                <td>
                    <input type="text" name="email" class="form-control" aria-label="Email">
                </td>
            </tr>
            <tr>
                <td>Password: *</td>
                <td><input type="password" name="password" class="form-control" aria-label="password"></td>
            </tr>
            <tr>
                <td>Repeat Password: *</td>
                <td><input type="password" name="repeat_password" class="form-control" aria-label="repeat_password"></td>
            </tr>
            <tr>
                <td>FullName: *</td>
                <td><input type="text" name="fullName" class="form-control" aria-label="fullName"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" class="btn btn-primary" value="Register">
                </td>
            </tr>
        </form>
    </table>
{% endblock %}